.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The design was made by Oleg Frolov and taken from https://dribbble.com/shots/3368130-Stepper-Touch  */

*, *::before, *::after {
  box-sizing: inherit;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

/* body {
  font-family: "Varela Round", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: #6C6DFF;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Actual input */

/* .input-number {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 20px;
  margin: 2px;
}

.input-number span {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  display: inline-block;
  background-color: white;
  height: 100%;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #6C6DFF;
  letter-spacing: -1px;
}

.input-number button {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;  
  cursor: pointer;
  background-color: rgba(255,255,255,.2);
}

.input-number button:nth-of-type(1) {
  padding-right: 20px
}

.input-number button:nth-of-type(2) {
  padding-left: 20px;
}

.input-number button:hover {
  background-color: rgba(255,255,255,.25);
}

.input-number #submitScore {
  padding: 0px;
} */